:root {
    --color-title: #00aa00;
    --color-text: #292A2D;
    --color-anchor: #49A222;
    --height-img: 500px;
    --color-base: #FeFFeF;
}

body {
    font-family: 'Quattrocento Sans', sans-serif !important;
}


.text-primary {
    color: var(--color-title) !important;
    font-weight: 900 !important;
    font-size: 2rem !important;
}

.nav-link {
    color: var(--color-text) !important;
}

.nav-link:hover {
    color: var(--color-anchor) !important;
}

/*LCarousel Botones*/
.carousel-inner {
    width: 100%;
    height: var(var(--height-img));
}

.carousel-item {
    object-fit: cover;
    height: var(--height-img);
}

.carousel-image {
    object-fit: cover;
    width: 100%;
    height: var(--height-img);
    object-position: 0 50%;
}

/* Div About */

.about-title {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    font-weight: 900;
}

.about-text {
    box-sizing: border-box;
    width: 100%;
    text-align: justify;
    margin: 5px auto;
    padding: 80px 40px;
}

/*Cards*/
#about-us{
    padding: 10px;
}
.precios {
    padding: 20px;
}

.productos-container {
    margin-top: 20px;
}

.card {
    border: none;
    border-radius: 30px;
    margin: 30px auto;
    box-shadow: 0 5px 10px var(--color-text);
}

.card-img-top {
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    width: 100%;
    height: 250px;
    margin: 10px auto;
    object-position: 90% 50%;
}

.btn-primary {
    background-color: var(--color-anchor);
    border: var(--color-anchor);
    transition: box-shadow .5s, transform .3s;
}

.btn-primary:hover {
    background-color: var(--color-anchor);
    border: var(--color-anchor);
    box-shadow: 0 5px 10px #00aa00;
    transform: scale(1.2);
}

.contacto{
    width: 100%;
    height: 250px;
}

.ico-cont{
    text-align: center;
}
.links{
    margin-top: 50px;
}

.fa-whatsapp{
    color: #00aa00;
    font-size: 4rem;
    padding: 1rem;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    text-align: center;
    transition: box-shadow .3s;
}
.fa-facebook-f{
    color: #69AEC3;
    font-size: 4rem;
    padding: 1rem;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    text-align: center;
    transition: box-shadow .3s;
}
.fa-envelope{
    color: #F46E33;
    font-size: 4rem;
    padding: 1rem;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    text-align: center;
    transition: box-shadow .3s;
}

.fa-whatsapp:hover{
    box-shadow: 0 10px 10px var(--color-anchor);
}
.fa-facebook-f:hover{
    box-shadow: 0 10px 10px #69AEC3;
}
.fa-envelope:hover{
    box-shadow: 0 10px 10px #F46E33;
}